<div class="custom-select" (mousedown) = "onMouseDown($event);">
  <div class="custom-select__selected-item" (click) = "toggle();">
    {{selectedOption}}
  </div>
  <ul class = "custom-select__item-list" *ngIf = "isShown">
    <li class = "custom-select__item"
        *ngFor = "let item of options"
    (click) = "selectedElement = onSelect(item, $event);">
      {{item}}
    </li>
  </ul>
</div>
<div *ngIf = "selectedElements.length != 0"
     class = "selected-element">
  <li *ngFor = "let elem of selectedElements">
    {{elem}}
  </li>
</div>
