* {
  box-sizing: border-box;
}

.select-log {
  background: lighten(red, 5%);
  width: 200px;
  padding: 16px;
  font: 16px sans-serif;
  text-align: center;
  color: #fff;

  &__log-item {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
